<br>
<button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Voltar" (click)="Voltar()"><i class="fa-solid fa-circle-left"></i></button>
<br>
<br>
<app-titulo [titulo]=titulo></app-titulo>
<br>
<div class="form-row">
    <div class="card rounded shadow-sm">
        <div class="p-3">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="required" style="font-weight: bold;">Nome</label>
              <input type="text" class="form-control" readonly [(ngModel)]="transportador.nome">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="required" style="font-weight: bold;">Endereço</label>
              <input type="text" class="form-control" readonly [(ngModel)]="transportador.endereco">
            </div>
            <div class="form-group col-sm-6">
              <label class="required" style="font-weight: bold;">Bairro</label>
              <input type="text" class="form-control" readonly [(ngModel)]="transportador.bairro">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="required" style="font-weight: bold;">Municipio</label>
              <input type="text" class="form-control" readonly [(ngModel)]="transportador.municipio">
              </div>
            <div class="form-group col-sm-6">
              <label style="font-weight: bold;">Complemento</label>
              <input type="text" class="form-control" readonly [(ngModel)]="transportador.complemento">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-2">
              <label class="required" style="font-weight: bold;">Numero</label>
              <input type="text" class="form-control" readonly [(ngModel)]="transportador.numero">
            </div>
            <div class="form-group col-sm-2">
              <label class="required" style="font-weight: bold;">CEP</label>
              <input type="text" class="form-control" mask="00.000-000" readonly [(ngModel)]="transportador.cep">
            </div>
            <div class="form-group col-sm-4">
              <label class="required" style="font-weight: bold;">UF</label>
              <input type="text" class="form-control" readonly [(ngModel)]="transportador.uf">
            </div>
            <div class="form-group col-sm-4">
              <label class="required" style="font-weight: bold;">País</label>
              <input type="text" class="form-control" readonly [(ngModel)]="transportador.pais">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-2">
              <label class="required" style="font-weight: bold;">Telefone</label>
              <input type="text" class="form-control" [mask]="getTelefoneMask()" readonly [(ngModel)]="transportador.telefone">
            </div>
            <div class="form-group col-sm-6">
              <label class="required" style="font-weight: bold;">Email</label>
              <input type="email" class="form-control" readonly [(ngModel)]="transportador.email">
            </div>
            <div class="form-group col-sm-4">
              <label class="required" style="font-weight: bold;">CNPJ</label>
              <input type="text" class="form-control" mask="00.000.000/0000-00" readonly [(ngModel)]="transportador.cnpj">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label style="font-weight: bold;">Inscrição Municipal</label>
              <input type="text" class="form-control" mask="000.000.000/0000" readonly [(ngModel)]="transportador.inscricaoMunicipal">
            </div>
            <div class="form-group col-sm-4">
              <label style="font-weight: bold;">Inscrição Estadual</label>
              <input type="text" class="form-control" mask="000.000.000/0000" readonly [(ngModel)]="transportador.inscricaoEstadual">
            </div>
            <div class="form-group col-sm-2">
              <label class="required" style="font-weight: bold;">Data de Cadastro</label>
              <input type="date" class="form-control" placeholder="Data de Cadastro" readonly [(ngModel)]="transportador.dataCadastroTransportador">
            </div>
            <div class="form-group col-sm-2">
              <label style="font-weight: bold;">Ativo</label>
                <mat-select class="form-control" readonly disabled [(value)]="ativo">
                  <mat-option value="Ativo">Ativo</mat-option>
                  <mat-option value="Inativo">Inativo</mat-option>
                </mat-select>
            </div>
          </div>
        </div>
    </div>
</div>
