<div class="form-inline">
  <app-titulo (validarCrud)="validaCrud($event)" [titulo]=titulo [iconClass]=iconClass [novo]=novo></app-titulo>
  <br>
  <div class="card rounded shadow-sm p-3">
  <div class="input-group mb-2" id="inputPesquisa">
    <div class="input-group-prepend">
      <div class="input-group-text">Filtro: </div>
    </div>
    <input type="text" class="form-control" placeholder="Pesquisar Usuarios" [(ngModel)]="usuarioLista">
  </div>
  <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Data de Cadastro</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="usuarios && usuarios.length">
        <tr *ngFor="let usuario of usuariosFiltrados">
          <td>{{usuario.nome}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.dataCadastroUsuario | date: "dd/MM/yyyy"}}</td>
          <td>
            <button *ngIf="visualizarEditar" type="button" tooltip="Editar" class="btn btn-primary btn-sm mr-2" (click)="editar(usuario.id)">
              <i class="fa fa-edit"></i></button>&nbsp;
            <button *ngIf="visualizarPermissao" type="button" tooltip="Permissões" class="btn btn-success btn-sm mr-2" (click)="permissoes(usuario.id)">
              <i class="fa-solid fa-lock"></i></button>&nbsp;
            <button *ngIf="usuario.botaoExcluir" type="button" tooltip="Excluir" class="btn btn-danger btn-sm" (click)="openModal($event, template, usuario.nome, usuario.id)">
              <i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!usuarios.length">
        <tr>
          <td class="text-center" colspan="8">
            <h4>Nenhum usuario encontrado!</h4>
          </td>
        </tr>
      </tfoot>
  </table>
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja deletar o(a) usuario {{this.usuarioNome}}?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
  </ng-template>
