<div class="d-flex align-items-center vh-100">

  <div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">

    <form [formGroup]="form">
      <i class="fa fa-users mb-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Sistema Retaguarda E Silva</h1>
      <input name="username" type="email" id="username" class="form-control" formControlName="email" placeholder="Email" [(ngModel)]="login.email" required>
      <br>
      <input name="password" type="password" id="password" class="form-control" formControlName="senha" placeholder="Senha" [(ngModel)]="login.senha" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid" (click)="logar()" type="submit">Entrar</button>
    </form>
  </div>

</div>
